/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  animation: moveOn 1s ease backwards;
}

.wrapper {
  width: 100%;
  display: grid;
  grid-row: 2;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--color-stroke);
  margin-top: 2rem;
}

@import './components/card';
@import './components/cost';
@import './components/date';
@import './components/created-by';
@import "./components/media";
@import "./components/keyframes";
