/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--color-bgc);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 127px 0;
}
