.pricing-header {
  animation: open 1s ease backwards;
  text-align: center;
  max-width: 244px;
  max-height: 108px;

  h1 {
    font-weight: 600;
    letter-spacing: -0.03em;
    font-size: 3rem;
    line-height: 100%;
  }

  p {
    margin-top: 1rem;
    letter-spacing: -0.01em;
    line-height: 140%;
    color: var(--color-description);
  }
}
