.pricing-header {
  animation: open 1s ease backwards;
  text-align: center;
  max-width: 244px;
  max-height: 108px;

  h1 {
    letter-spacing: -0.03em;
    font-size: 3rem;
  }

  p {
    margin-top: 10px;
    letter-spacing: -0.01em;
    line-height: 1.5rem;
    color: var(--color-description);
  }
}
