/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --color-primary-bgc: #0f162d;
  --color-secondary-bgc: #272d42;
  --color-machine-learning: #ca59ff;
  --color-computer-vision: #6c7cff;
  --color-language: #2affff;
  --color-robotics: #fff629;
}
