/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --color-bgc: #f9f8fb;
  --color-primary: #14132b;
  --color-description: #989bb4;
  --color-stroke: #e2e8eb;
  --color-checkbox: #ee9c50;
  --color-btn-hover: #7863f9;
  --color-btn-active: #6a53f4;
}
