/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --color-bgc: #0c1829;
  --color-box: #13243c;
  --color-title: #ffffff;
  --color-primary: #04fcfa;
  --color-body: #9293b9;
  --color-stroke: #2b3953;
}
